
.logoP {
    font-size: 2.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(48, 47, 47);
}

.mainNav {
    display: flex;
    gap: 20px;
}
.mainNav > .navLink {
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}
.mainNav > .navLink:hover {
    border-color: blueviolet;
}